/* Add a gray background color and some padding to the footer */

body {
    background: #F4F7FE;
    ;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.big-container {
    height: 200px;
    margin-bottom: 40px;
}

.container-one {
    background-color: rgba(51, 51, 51, 0.89);
    height: 200px;
}

.container-two {
    background-color: #EDF7FF;
    height: 200px;
}

.banner-content-color {
    color: #fff;
}

.banner-text-home {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 141.5%;
    letter-spacing: 0.025em;
    color: #251A4A;
}

.banner-text-heading {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 141.5%;
    letter-spacing: 0.025em;
    color: #FEFEFE;
}

.subheading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 123.6%;
    /* or 30px */
    letter-spacing: 0.02em;
    color: #251A4A;
}

.banner-text-top-line {
    margin-top: 130px;
}

.top-heading-banner {
    margin-top: 150px;
}

.three-part-circle-image {
    height: auto;
    margin-top: 125px;
}

.model-demo-image {
    height: 350px;
    width: 90%;
    margin-top: 125px;
}

.banner-light-orange {
    background-color: #02042B;
    height: 700px;
}

.banner-large-light-orange {
    background-color: #02042B;
    height: 900px;
    margin-top: 30px;
}

.banner-white {
    background-color: #fff;
    height: 500px;
}

.content-text-large {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.236;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.content-text-definitions {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.236;
    letter-spacing: 0.02em;
    color: #9B9B9B;
}

.top-paragraph-content {
    margin-top: 34px;
}

.normal-paragraph-content {
    margin-top: 18px;
}

.learn-more-wrapper {
    margin-top: 52px;
}

.learn-more-btn {
    font-size: 24px;
    font-weight: bolder;
    color: #7151e3;
    cursor: pointer;
}

.learn-more-btn:focus {
    outline: none;
}

.learn-more-link:hover {
    text-decoration: none;
}

.unique-section-wrapper {
    margin-top: 85px;
}

.unique-content-wrapper {
    margin-bottom: 60px;
}

.unique-section-heading {
    font-family: Montserrat;
    font-size: 24px;
    color: #FFFFFF;
}

.our-products {
    align-content: center;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #191135;
    padding-top: 30px;
    background: white;
}

.unique-section-details {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    color: #9b9b9b;
}

.unique-section-image {
    height: 60px;
}

.mobile-product-demo {
    display: none;
}

.unique-circular-image {
    width: 90%;
    margin-top: 165px;
}

.home-banner-image {
    height: 580px;
    position: absolute;
    left: -80px;
    z-index: -1;
}

.home-products-link {
    font-size: 24px;
    color: #7151e3;
    font-weight: bold;
    text-decoration: none;
}

.home-products-link:hover {
    text-decoration: none;
    color: #7151e3;
}

.home-products-link .fa-angle-down:before {
    font-weight: bold;
}

.banner-description {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .home-banner-image {
        height: 470px;
        left: -30px;
    }
    .three-part-circle-image {
        height: 340px;
        margin-top: 75px;
    }
    .banner-text-top-line {
        margin-top: 75px;
    }
    .banner-mobile-heading {
        font-size: 22px !important;
    }
    .content-text-mobile {
        font-size: 16px;
    }
    .banner-light-orange {
        height: auto;
        padding-bottom: 70px;
    }
    .banner-white {
        height: auto;
    }
    .banner-large-light-orange {
        height: auto;
    }
    .unique-section-details {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

@media (max-width: 768px) {
    .desktop-product-demo {
        display: none;
    }
    .mobile-product-demo {
        display: block;
    }
    .three-part-circle-image {
        height: auto;
        width: 100%;
        max-width: 450px;
        margin-top: 25px;
    }
    .banner-text-home {
        font-size: 24px;
    }
    .page-banner-top {
        height: auto !important;
        padding-bottom: 30px;
    }
    .banner-text-top-line {
        margin-top: 30px;
    }
    .banner-light-orange {
        height: auto;
        padding-bottom: 20px;
    }
    .banner-large-light-orange {
        height: auto;
        padding-bottom: 20px;
    }
    .banner-white {
        height: auto;
    }
    .top-heading-banner {
        margin-top: 40px;
    }
    .learn-more-wrapper {
        margin-top: 0;
    }
    .unique-section-wrapper {
        margin-top: 35px;
        text-align: center;
    }
    .unique-content-wrapper {
        margin-bottom: 50px;
    }
    .model-demo-image {
        height: auto;
        width: 100%;
        margin-top: 100px;
    }
    .unique-circular-image {
        width: 100%;
        margin-top: 100px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: grey;
    }
}

@media (width: 768px) {
    .model-demo-image {
        margin-top: 50px;
    }
    .top-heading-banner {
        margin-top: 90px;
    }
}